<style>
    .rap-menu {
      position: relative;
      display: inline-block;
      font-family: Arial, sans-serif;
    }
  
    .selected-rap {
      background-color: #eee;
      padding: 10px 15px;
      cursor: pointer;
      border: 1px solid #ccc;
      border-radius: 5px;
      user-select: none;
    }
  
    .caret {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #333;
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
    }
  
    .rap-list {
      display: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      border: 1px solid #ccc;
      border-top: none;
      border-radius: 0 0 5px 5px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      max-height: 200px;
      overflow-y: auto;
      z-index: 1;
    }
  
    .rap-list li {
      padding: 10px 15px;
      cursor: pointer;
      user-select: none;
    }
  
    .rap-list li:hover {
      background-color: #f0f0f0;
    }
  
    .submenu {
      position: relative;
    }
  
    .submenu-list {
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 0 5px 5px 5px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      max-height: 200px;
      overflow-y: auto;
      z-index: 2;
    }
  
    .submenu-list li {
      padding: 10px 15px;
      cursor: pointer;
      user-select: none;
    }
  
    .submenu-list li:hover {
      background-color: #f0f0f0;
    }
  </style>
  
  <div class="rap-menu" style="width: 100%;">
    <div class="selected-rap" onclick="toggleRapList()">
      <span id="selected-rap">Chọn rạp</span>
      <div class="caret"></div>
    </div>
    <ul id="rap-list" class="rap-list" style="width: 70%;">
      <a href="/"> <li onclick="selectRap('')">Beta Home</li></a>
      <li class="submenu" onclick="toggleSubmenu('thanhxuan-submenu')">Beta Thanh Xuân<div class="caret"></div></li>
      <ul id="thanhxuan-submenu" class="submenu-list" style="width: 20%;">
        <a href="/thanhxuan1"><li onclick="selectRap('Beta Thanh Xuân 1')">Beta Thanh Xuân 1</li></a>
        <a href="/thanhxuan2"><li onclick="selectRap('Beta Thanh Xuân 2')">Beta Thanh Xuân 2</li></a>
      </ul>
      <li class="submenu" onclick="toggleSubmenu('mydinh-submenu')">Beta Mỹ Đình<div class="caret"></div></li>
      <ul id="mydinh-submenu" class="submenu-list" style="width: 20%;">
        <a href="/mydinh1"><li onclick="selectRap('Beta Mỹ Đình 1')">Beta Mỹ Đình 1</li></a>
        <a href="/mydinh2"><li onclick="selectRap('Beta Mỹ Đình 2')">Beta Mỹ Đình 2</li></a>
      </ul>
      <a href="/detail_blog"><li onclick="selectRap('Beta Đan Phượng')">Beta Đan Phượng</li></a>
      <!-- Thêm các rạp khác vào đây -->
    </ul>
  </div>
  
  <script>
    var selectedRap = localStorage.getItem("selectedRap");
    if (selectedRap) {
      document.getElementById("selected-rap").textContent = selectedRap;
    }
  
    function toggleRapList() {
      var rapList = document.getElementById("rap-list");
      if (rapList.style.display === "block") {
        rapList.style.display = "none";
      } else {
        rapList.style.display = "block";
      }
    }
  
    function toggleSubmenu(submenuId) {
      var submenu = document.getElementById(submenuId);
      if (submenu.style.display === "block") {
        submenu.style.display = "none";
      } else {
        submenu.style.display = "block";
      }
    }
  
    function selectRap(selectedRap) {
      var selectedRapSpan = document.getElementById("selected-rap");
      selectedRapSpan.textContent = selectedRap;
  
      toggleRapList();
  
      localStorage.setItem("selectedRap", selectedRap);
    }
  </script>
  